div{
	/* These codes centered the div element */
	display: block;
	text-align:center;
}

a {
	float:right;
	font-family: "Times New Roman", Times, serif;
	}
	#dar{
		border-radius: 25px;
		background-color: #ffffff;
		border: 2px solid black;
		width: 350px;
	    height: 30px;
		}
		
		#dd{
		border-radius: 25px;
		/* background-color: #ffffff; */
		border: 2px solid black;
		}
		
		#dad{
		border-radius: 25px;
		/* background-color: #ffffff; */
		border: 2px solid black;
		}
		